#btn-mobile{
  display: none;
}

@media screen and (max-width: 600px){

 /* Banner-Area
   ========================================================================== */
  .banner{
    align-items: flex-start;
    background: none;
    flex-direction: column-reverse;
    height: 420px;
    padding: 0 1rem;
  }

  .banner__content{
    margin-bottom: 0;
  }

  .banner__title{
    font-size: 1.375rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  .banner__description{ 
    font-size: 1rem;
    width: 100%;
  }

  .banner__list {
    justify-content: space-between;
    margin: 1rem 0;
  }

  .banner__link{
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 0;
  }

  .banner__link ::after{
    content: url(../images/seta10x10.png);
    margin-left: 0;  
    padding: 0.1rem;
  }

  .banner__Photograph{
    width: 40%; 
  }

 /* About me
   ========================================================================== */
  .about-me{
    height: 100%;
    margin-bottom: 1rem;
    padding: 0 1rem 1rem;
  }

  .about-me__title{
    font-size: 1.375rem;
    margin-top: 1rem;
  }

  .about-me__description{
    font-size: 1rem;
    line-height: 1.2em;
    width: 100%;
  }

/* Area Skills / Hobbies
   ========================================================================== */
  .skills-hobbies {
    height: auto;
    padding: 0 1rem;
  }

  .skills__title, .hobbies__title, .academic-education__title, .project__title {
    font-size: 1.375rem;
  }

  .skills__content, .hobbies__content{
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    margin: 0;
    padding: 2rem 0;
    row-gap: 2rem;
  }
  
  .skill__card, .hobbie__card{
    height: 100%;
    padding: 2.375rem 1rem 1rem 1rem;
    width: auto;
  }

  /* Academic Education 
   ========================================================================== */
  .academic-education {
    height: 540px;
    padding: 2rem 2rem 0;
  }

  .academic-education__content{
    flex-direction: column;
    gap: 3rem;
    margin: 0;
  }

  .card {
    height: 130px;
    margin-top: 2rem;
    width: 100%;
  }

  .card__img {
    height: 100%;
    margin-bottom: 0.8rem;
  }

  .info__description, .card__description{
    font-size: 1rem;
    margin-bottom: 0.25rem
  }
  
 /* Work Experiences
   ========================================================================== */
  .box{
    flex-direction: column;
    gap: 1rem;
    height: auto;
    margin: 1rem 2rem 3rem;
  }

  .image{
    width: 100%;
  }

  .info__content{
    margin-left: 0;
    width: 100%;
  }

  .btn__repositorio, .btn__demo{
    padding: .6rem;
  }

  /* Area Contact
   ========================================================================== */
  .contact {
    flex-direction: column;
    padding: 2rem;
  }

  .contact__image{
    display: none;
  }

  .contact__content{
    margin-left: 0;
  }

  .contact__title{
    font-size: 1.375rem;
  }

  .contact__text{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2rem;
  }

  .form__text{
    height: 133px;
  }

  .form__btn{
    height: 40px;
    width: 150px;
  }

  /* Area Footer
   ========================================================================== */
  footer{
    background-image: none;
    font-size: 1rem;
    height: 100px;
  }

}